#DisplayCart, #totalPrice{
 text-align: center;
 font-size: 17px;
}

#totalPrice { 
		font-weight: bold; 
		font-size: 20px;	
}

span #DisplayCart, #totalPrice{
    text-align: center;
}
a {color:black;}
a:visited {color:black;}
.bodyGrid {
    grid-area:bodyArea;
    margin:auto;
    width:90%;
    display:grid;
    padding: 20px;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    'cart details'
  }

.cart {
    grid-area:cart;
	margin-top: 10px;
	background-color: #c4dbad;
	padding: 10px 10px 10px 10px;
	margin-right: 20px;
}

#DisplayCart { text-align: left; }

#submit-button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#submit-button:hover {background-color: #3e8e41}

#submit-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);