 #root {
   height:100vh;
   width:100vw;
   display:grid;
   grid-template-rows:3fr 1fr 5fr 5fr;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-areas:
   'bannerArea bannerArea bannerArea'
   'navArea navArea navArea'
   'bodyArea bodyArea bodyArea'
   'footerArea footerArea footerArea';
 }
body {	margin:0; }

 
 .grid {
   grid-area:bodyArea;
   justify-items:center;
   background-color: #c4dbad;
   background-image: url("assets/brushed-alum-dark.png");
   margin:auto;
   width:100%;
   display:grid;
   grid-template-rows:auto;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-areas:
   'item2 item1 item3'
   'item5 item1 item4'
   'item5 item1 item4'    
 }
 .bannerArea {
	grid-area:bannerArea;
	background-image: url(assets/lulusnew.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
 }
 #navArea { 
	grid-area: navArea;
	background-color: black;
	text-align: center;
	
 }

nav li {
    display: inline-block;
    margin:0;
}

nav a {	text-decoration:none;
		color:white;
}

nav li:hover{ background-color: grey; }
nav a:visited { color: #c4dbad; }

nav { letter-spacing: 0.1em;
     text-decoration:none;
     border-top: 6px solid #c4dbad;
	 border-bottom: 6px solid #c4dbad;
}
 
 nav ul { list-style-type: none; }
 
.footerArea {
	grid-area:footerArea;
	background-color: black;
    display:grid;
	color: #ffffff;
	padding: 50px 10px 10px 10px;
	border-top: 6px solid #c4dbad;
	border-bottom: 6px solid #c4dbad;
    grid-template-rows: 1fr 1fr .5fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	'info location'
	'social social'
	'totop totop';	
	
}	
.footerArea a:visited { color: #c4dbad; }
 #totop { grid-area: totop;
 margin: auto;
 }
#info { grid-area: info;
		text-align: center;
    	font-style: italic;
        margin:auto;
}
#social {
    margin:auto;
    grid-area: social;
	padding: 10px 10px 10px 10px;
	text-align: center;
	
}
#social img { margin-top: 50px;
			  padding-right: 30px;
 }
 #location { 
     grid-area: location;
     margin:auto;
 }
 .item1{
   grid-area:item1;
   font-size:large;
   margin-top:15px;
 }
 .item2{
   grid-area:item2;
   margin-top:15px;
 }
 .item3{
   grid-area:item3;
   margin:auto;
 }
 .item4{
   grid-area:item4;
   margin-bottom:15px;
 }
 .item5{
   grid-area:item5;
   margin:auto;
 }

li {
    margin:40px 0;
}
p::first-letter {
    font-size:200%;
}
 #logo { position: relative;
		 -webkit-animation-name: fade;
		 -webkit-animation-duration: 4s;
		 animation-name: fade;
		 animation-duration: 4s;
 }
 @-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
 }
  .imgs { position: relative;
		 -webkit-animation-name: fade2;
		 -webkit-animation-duration: 4s;
		 animation-name: fade2;
		 animation-duration: 4s;
 }
 @-webkit-keyframes fade2 {
	from {opacity: .1}
	to {opacity: 1}
 }