#root {
   height:100vh;
   width:100vw;
   display:grid;
   grid-template-rows:3fr 1fr 5fr 5fr;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-areas:
   'bannerArea bannerArea bannerArea'
   'navArea navArea navArea'
   'bodyArea bodyArea bodyArea'
   'footerArea footerArea footerArea';
 }
body {	margin:0; }

 
 .bodyGrid {
   grid-area:bodyArea;
   margin:auto;
   width:90%;
   display:grid;
   padding: 20px;
   grid-template-rows:1fr;
   grid-template-columns:1fr;
   grid-template-areas:
   'maincontent'
   'details'
 }
 #required { color: red; }
 form { background-color: #c4dbad; }
 iframe { padding: 10px 10px 10px 10px; }
h2, p { text-align: center; }
 .bannerArea {
	grid-area:bannerArea;
	background-image: url(../lulusnew.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
 }
 .details a { padding-right: 80px; }	
 
.footerArea {
	grid-area:footerArea;
	background-color: black;
    display:grid;
	color: #ffffff;
	padding: 50px 10px 10px 10px;
    grid-template-rows: 1fr 1fr .5fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	'info location'
	'social social'
	'totop totop';	
	
}	
.footerArea a:visited { color: #c4dbad; }
#info { grid-area: info;
		text-align: center;
    	font-style: italic;
        margin:auto;
}
#social {
    margin:auto;
    grid-area: social;
	padding: 10px 10px 10px 10px;
	text-align: center;
	
}
#social img { margin-top: 50px;
			  padding-right: 30px;
 }
 #location { 
     grid-area: location;
     margin:auto;
 }
 #totop { grid-area: totop;
 margin: auto;
 }
 .maincontent{
   grid-area:maincontent;
   margin-left: 300px;
   margin-right: 300px;
 }
 .details {
	 grid-area: details;
	 text-align: center;
 }
  #logo { position: relative;
		 -webkit-animation-name: fade;
		 -webkit-animation-duration: 4s;
		 animation-name: fade;
		 animation-duration: 4s;
 }
 @-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
 }
   @media only screen and (max-width: 2000px) {

 
	@media only screen and (max-width: 950px) {

	 .maincontent{
	grid-area:maincontent;
	margin-left: 100px;
	margin-right: 100px;
 }
}
