 #root {
   height:100vh;
   width:100vw;
   display:grid;
   grid-template-rows:3fr 1fr 5fr 5fr;
   grid-template-columns:1fr 1fr 1fr;
   grid-template-areas:
   'bannerArea bannerArea bannerArea'
   'navArea navArea navArea'
   'bodyArea bodyArea bodyArea'
   'footerArea footerArea footerArea';
 }
body {	margin:0; }

 
 .bodyGrid {
   grid-area:bodyArea;
   margin:auto;
   width:90%;
   display:grid;
   padding: 20px;
   grid-template-rows:3fr 1fr;
   grid-template-columns:3fr 1fr;
   grid-template-areas:
   'maincontent asidebar'
   'maincontent asidebar'
 }
 aside { width: 200px; }
aside h3 { border-bottom: 1px solid #000000;
		   padding-bottom: 2px;
		   margin: 10px;
		   font-size: 0.90em;
		   }
.news { font-size: 0.80em;
		margin: 10px; }
.floatright { margin: 10px;
			  float: right; }
 .bannerArea {
	grid-area:bannerArea;
	background-image: url(../lulusnew.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
 }
 #navArea { 
	grid-area: navArea;
	background-color: black;
	text-align: center;
 }

nav li {
    display: inline-block;
	padding-right: 20px;
}

nav a {	text-decoration:none;
		color:white;
}

nav li:hover{ background-color: grey; }
nav a:visited { color: #c4dbad; }

nav { letter-spacing: 0.1em;
     text-decoration:none;
	 border-top: 6px solid #c4dbad;
	 border-bottom: 6px solid #c4dbad;
}
 
 nav ul { list-style-type: none; }
 
.footerArea {
	grid-area:footerArea;
	background-color: black;
    display:grid;
	color: #ffffff;
	padding: 50px 10px 10px 10px;
	border-top: 6px solid #c4dbad;
	border-bottom: 6px solid #c4dbad;
    grid-template-rows: 1fr 1fr .5fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	'info location'
	'social social'
	'totop totop';	
	
}	
.footerArea a:visited { color: #c4dbad; }
#info { grid-area: info;
		text-align: center;
    	font-style: italic;
        margin:auto;
}
#social {
    margin:auto;
    grid-area: social;
	padding: 10px 10px 10px 10px;
	text-align: center;
	
}
#social img { margin-top: 50px;
			  padding-right: 30px;
 }
/* #social img{	 
			margin-top: 50px;
			padding-right: 30px;
 } */
 #location { 
     grid-area: location;
     margin:auto;
 }
 #totop { grid-area: totop;
 margin: auto;
 }
 .maincontent{
   grid-area:maincontent;
   
 }
 .asidebar{
   grid-area:asidebar;
   background-color: #a6c0cf;
   background-image: url("assets/brushed-alum-dark.png");
   
 }
form { background-color:#eaeaea;
	   font-family: Arial, sans-serif;
       padding: 10px;
	   min-width: 400px;
	   margin-right: 500px;
	   }
label { float: left;
	    width: 150px; 
        clear: left;
	    text-align: right; 
	    padding-right: 10px;
	    margin-top: 10px;
		}
input, textarea { margin-top: 10px; 
                  display: block;
				  } 
#mySubmit { margin-left: 160px; }
 
 #logo { position: relative;
		 -webkit-animation-name: fade;
		 -webkit-animation-duration: 4s;
		 animation-name: fade;
		 animation-duration: 4s;
 }
 @-webkit-keyframes fade {
	from {opacity: .1}
	to {opacity: 1}
 }